body, html{
  margin: 0px;
  padding: 0px;
  background-color: #F2F2F2;
}

@font-face {
   font-family: Mondwest;
   src: url(Mondwest-Regular.otf);
}

@font-face {
   font-family: NeueMachina;
   src: url(NeueMachina-Regular.otf);
}

a{
  text-decoration: none;
  color: Black;
}
ul{
  list-style-type: none;
}

.title{
  font-size: 3vmin;
  padding-left: 2vmin;

}

.header{
  display: flex;
  font-family: 'NeueMachina';
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 5vmin 5vmin 5vmin;

}

.navLink{
  font-size: 2vmin;

}

.navLink a{
  padding-left: 3vmin;
}

h1{
  margin: 0px;
  padding: 0px;
  font-family: 'Mondwest';
  font-size: 13vmin;
}

p{
  font-family: 'neue-haas-unica', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5vmin;
}

.myWork{
  padding-top: 9vmin;
  text-align: center;
}

.workItems{
  padding-bottom: 5vmin;
}

.siteLink{
  text-align: center;
  text-decoration: underline;
  padding-bottom: 2vmin;
}

.mainSection{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8vmin;

}

.aboutPara p{
  font-family: 'Mondwest';
  font-size: 5.5vmin;
  text-align: left;
  width: 70vmin;
  padding-right: 30vmin;

}

ul{
  margin: 0px;
  padding: 0px;

}

li{
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5vmin;
  list-style-position: outside;
}

.titleList{
  font-family: NeueMachina;
  text-decoration: underline;

}

.list{
  padding-bottom: 2vmin;

}

.rightSide{
  text-align: right;
  padding-top: 5vmin;

}

.email{
  font-family: NeueMachina;
}

.pageTitle{

  text-align: center;
}

.pageTitle h1{
  font-size: 8vmin;
}

.pageTitle p{
  font-size: 2vmin;
}

.description p{
  font-family: 'degular',sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
  font-size: 4vmin;
  padding: 2vmin 10vmin 0px 10vmin;
}


img{
 width: 100vmin;
}

#imagesTIGA{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  padding: 5vmin 25vmin 5vmin 25vmin;

}

#imagesTIGA img{
    width: 55vmin;
    padding-bottom: 2vmin;
  }


#imagesBP,#imagesSBC,#imagesSTH,#imagesSMA,#imagesBTS,#imagesTeamLab,#imagesTokyoCity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vmin;
}

#imagesPoster{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10vmin 15vmin 20vmin 20vmin;
}

#imagesPoster img{
    width: 40vmin;
    padding-right: 2vmin;
    padding-bottom: 2vmin;
  }

footer p{
  font-family: 'NeueMachina';
  text-align: center;
  font-size: 1.5vmin;
  padding-bottom: 2vmin;
}

.footerAbout {
 position: absolute;
 bottom: 0;
 width: 100%;
}

@media screen and (max-width: 905px){
  .header{
    display: flex;
    flex-direction: column;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
  }

  .navLink{
    padding-top: 3vmin;
  }

  .navLink{
    font-size: 3vmin;
  }

  .title{
    font-size: 4vmin;
  }

  .myWork{
    padding-top: 5vmin;
  }

  .mainSection{
    flex-wrap: wrap;
    padding-top: 0px;
  }

  .rightSide{
    text-align: center;
  }

  .aboutPara p{
    text-align: center;
    padding: 0px;

  }


  li{
    font-size: 4vmin;
    padding-bottom: 0px;
  }

  .email {
    font-size: 4vmin;
  }




}
